# WARRNING any missing or worng values in this config file will result in a broken OS

# select the Type of Scheduler to use by changing the SCHEDULER variable to the type you want
# available scheduling algorithms
#   Round Robin -> "SCHEDULER_RR"
#   Shortest Job First -> "SCHEDULER_SJF"
#   Multi-Level Feedback Queue -> "SCHEDULER_MLFQ"
# Multi-Level Feedback Queue consists of three Round Robin queues with the highest praiority for the first and the lowest praiority for the last

SCHEDULER=SCHEDULER_MLFQ

#----------------------------------------------------
# IF RR IS SELECTED
# set the quantum time for Round Robin Scheduler
# 1 unit = 10,000,000 clock based on your bus frequancy
# i.e. if bus freqancy is 1GHz its beriodic time will be 1/1x10^9 s so 1 unit time = 1/1x10^9 * 10,000,000 = 0.01 second
# you can set the value to -1 to be FCFS policy (RR with quantum time = infinity).
RR=1

#----------------------------------------------------
# IF MLFQ IS SELECTED
# set the quantum time for each of the three round robin queues
# 1 unit = 10,000,000 clock based on your bus frequancy
# i.e. if bus freqancy is 1GHz its beriodic time will be 1/1x10^9 s so 1 unit time = 1/1x10^9 * 10,000,000 = 0.01 seconds
# you can set the last queue to -1 to be FCFS policy (RR with quantum time = infinity).
MLFQ0=1
MLFQ1=2
MLFQ2=-1