# WARRNING any missing or worng values in this config file will result in a broken OS

#-------------  Scheduling Parameters  -------------

# select the Type of Scheduler to use by changing the SCHEDULER variable to the type you want
# available scheduling algorithms
#   Round Robin -> "SCHEDULER_RR"
#   Shortest Job First -> "SCHEDULER_SJF"
#   Multi-Level Feedback Queue -> "SCHEDULER_MLFQ"
# Multi-Level Feedback Queue consists of three Round Robin queues with the highest praiority for the first and the lowest praiority for the last

SCHEDULER=SCHEDULER_SJF

# If Round Robin is selected
# set the quantum time the for Round Robin Scheduler
# 1 unit = 10,000,000 clocks based on your bus frequancy
# i.e. if the bus freqancy is 1GHz; its beriodic time will be 1/1x10^9 s so, 1 unit time = 1/1x10^9 * 10,000,000 = 0.01 second
# you can set the value to -1 to be FCFS policy (RR with quantum time = infinity)

RR=1  # -1 or positive intger values only

# If Shortest Job First is selected
# set the scheduler parameters
# set the defult value for the estimatied cpu burst time for first program run

SJFDEF=10

#set the smoothing factor (a) used to calculate estimatied cpu burst time Τn+1 = αtn + (1 - α)Τn
# 1 -> "0"
# 2 -> "0.3"
# 3 -> "0.5"
# 4 -> "0.7"
# 5 -> "1"

ALFA=3

# If Multi-Level Feedback Queue is selected
# set the quantum time for each of the three round robin queues
# 1 unit = 10,000,000 clock based on your bus frequancy
# i.e. if bus freqancy is 1GHz its beriodic time will be 1/1x10^9 s so 1 unit time = 1/1x10^9 * 10,000,000 = 0.01 seconds
# you can set the last queue to -1 to be FCFS policy (RR with quantum time = infinity)

MLFQ0=2  # positive intger values only
MLFQ1=4  # positive intger values only
MLFQ2=-1  # -1 or positive intger values only